In [1]:
#Option 1 PyBank - Week 3 HW
#Try out jupyter and Pandas to solve option 1
#In this challenge, you are tasked with creating a Python script for analyzing the financial
#records of your company. You will be given two sets of revenue data (budget_data_1.csv and 
#budget_data_2.csv). Each dataset is composed of two columns: Date and Revenue. (Thankfully, 
#your company has rather lax standards for accounting so the records are simple.)

#Your task is to create a Python script that analyzes the records to calculate each of the following:
    #The total number of months included in the dataset
    #The total amount of revenue gained over the entire period
    #The average change in revenue between months over the entire period
    #The greatest increase in revenue (date and amount) over the entire period
    #The greatest decrease in revenue (date and amount) over the entire period

In [5]:
import pandas as pd

In [6]:
file_name = input("What .csv file do you want to analyze?") #make sure it is saved in raw_data folder
file_path = "raw_data\\{}".format(file_name)

What .csv file do you want to analyze?budget_data_1.csv

In [7]:
df = pd.read_csv(file_path)
#df.head() temporary check

In [8]:
total_months = df.Date.count()
total_revenue = df.Revenue.sum()

In [9]:
def revenue_change(revenue_list):
    previous_month = 0
    revenue_change_list = []
    for revenue in revenue_list:
        revenue_change_list.append(revenue - previous_month)
        previous_month = revenue
    return revenue_change_list
    
df['Revenue_Change'] = revenue_change(df.Revenue)
#df.head() #temporary check

In [10]:
average_monthly_revenue_change = df.Revenue_Change.mean()
greatest_monthly_revenue_increase = df.Revenue_Change.max()
greatest_monthly_revenue_decrease = df.Revenue_Change.min()

In [51]:
df[df.Revenue_Change == greatest_monthly_revenue_increase]

      Date  Revenue  Revenue_Change
40  Feb-16   883934         1837235

In [52]:
df[df.Revenue_Change == greatest_monthly_revenue_increase].iloc[0,0]

'Feb-16'

In [42]:
date_inc1

      Date  Revenue  Revenue_Change
40  Feb-16   883934         1837235

In [45]:
type(date_inc1)

pandas.core.frame.DataFrame

In [49]:
date_inc1.iloc[0,0]

'Feb-16'